[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
honcho = "*"
invoke = "*"
pytest = "*"
pytest-socket = "*"
requests = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
